<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
</head>
<body>
    <header class="aui-bar aui-bar-nav aui-text-left header" id="header">
        <h3 style="text-align:center">
            <a class="aui-btn aui-pull-right">
                <i class="aui-iconfont aui-icon-question"></i>
            </a>
            关于中原顺风车
        </h3>
		
		<p>
		中原顺风车，为河南跨城出行者服务。

		<br><br>

		
		中原顺风车致力于打造一个安全、便捷的跨城拼车平台。
		</p>		
    </header>
</body>
</html>