<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
</head>
<body>
    <header class="aui-bar aui-bar-nav aui-text-left header" id="header">
        <h3 style="text-align:center">
            <a class="aui-btn aui-pull-right">
                <i class="aui-iconfont aui-icon-question"></i>            </a>
            中原顺风车服务协议        </h3>
		<p>
		中原顺风车非常重视对用户（以下简称“您”或“用户”）隐私的保护，为了给您提供更准确、更有个性化的服务，请您仔细阅读如下声明。当您访问中原顺风车网站或使用中原顺风车提供的服务前，您需要同意隐私政策中具体个人信息的收集、使用、公布和以其它形式使用和披露您的个人信息等内容。但中原顺风车会以高度的勤勉、审慎义务对待您的个人信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，中原顺风车不会将这些信息对外披露或向第三方提供。如果您不同意隐私政策中的任何内容，请立即停止使用或访问中原顺风车。本协议为中原顺风车用户许可协议不可分割的组成部分。</p>
        <p><br>
          一、中原顺风车隐私政策的适用范围<br>
          1.1适用范围<br>
          1.1.1在您注册中原顺风车时，您根据中原顺风车要求提供的个人注册信息，包括但不限于姓名、地址、联系方式等； <br>
          1.1.2在您使用中原顺风车网络服务，或访问中原顺风车平台网页时，中原顺风车自动接收并记录您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据； <br>
          1.1.3中原顺风车通过合法途径从商业伙伴处取得的用户个人数据。<br>
          1.2您了解并同意，以下信息不适用本隐私权政策：<br>
          1.2.1您在使用中原顺风车平台提供的搜索服务时输入的关键字信息；<br>
          1.2.2中原顺风车收集到的您在中原顺风车发布的有关信息数据，包括但不限于成交信息及评价详情；<br>
          1.2.3违反法律规定或违反中原顺风车规则行为及中原顺风车已对您采取的措施。</p>
        <p><br>
          二、中原顺风车收集信息的使用<br>
          2.1中原顺风车利用从所有服务中收集的信息来提供、维护、保护和改进这些服务，同时开发新的服务为您带来更好的用户体验，并提高中原顺风车的总体服务品质。中原顺风车还会向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者经您的事先同意，与中原顺风车合作伙伴共享信息以便他们向您发送有关其产品和服务的信息。<br>
          2.2中原顺风车不会向任何无关第三方（即不包括中原顺风车的关联公司或合作公司）提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该无关第三方和中原顺风车（含中原顺风车关联公司）单独或共同为您提供服务时，在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。<br>
          2.3中原顺风车亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何中原顺风车平台用户如从事上述活动，一经发现，中原顺风车有权立即终止与该用户的服务协议。</p>
        <p><br>
          三、您完全理解并不可撤销地、免费地授予中原顺风车及其关联公司下列权利<br>
          3.1中原顺风车关联公司或合作公司允许中原顺风车用户登录关联公司或合作公司并使用其服务，中原顺风车用户在关联公司或合作公司的任何行为均需遵守该等平台服务协议的约定、平台公布的规则以及有关正确使用平台服务的说明和操作指引。为了实现上述功能，您同意中原顺风车将您在中原顺风车的注册信息、交易/支付数据等信息和数据同步至关联公司或合作公司系统并允许其使用。<br>
          3.2如您以中原顺风车关联公司或合作公司用户账号和密码登录中原顺风车，为了实现向您提供同等服务的功能，您同意中原顺风车将您在关联公司或合作公司账号项下的注册信息、交易/支付数据等信息和数据同步至中原顺风车系统并进行使用，并且您不会因此追究中原顺风车以及中原顺风车关联公司或合作公司的责任。<br>
          3.3为确保交易安全，允许中原顺风车及其关联公司对用户信息进行数据分析，并允许中原顺风车及其关联公司对上述分析结果进行商业利用。<br>
          3.4您在享受中原顺风车提供的各项服务的同时，授权并同意接受中原顺风车向您的电子邮件 手机、通信地址等发送商业信息，包括不限于最新的中原顺风车产品信息、促销信息等。若您选择不接受中原顺风车提供的各类信息服务，您可以按照中原顺风车网提供的相应设置拒绝该类信息服务。<br>
          3.5用户在如下情况下，中原顺风车会遵照您的意愿或法律的规定披露您的个人信息，由此引发的问题将由您个人承担：<br>
          3.5.1事先获得您的同意向第三方披露；<br>
          3.5.2为提供您所要求的产品和服务，而必须与第三方分享您的个人信息；<br>
          3.5.3根据有关的法律法规的规定，或者依据行政机关或司法机关的要求，向第三方或者行政、司法机构披露；<br>
          3.5.4如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；<br>
          3.5.5如您出现违反中国有关法律、法规或者中原顺风车服务协议或相关规则的情况，需要向第三方披露；<br>
          3.5.6在中原顺风车上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，中原顺风车有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决；<br>
          3.5.7其他中原顺风车根据法律、法规或者中原顺风车政策认为合适的披露。</p>
        <p><br>
          四、信息存储和交换<br>
          4.1中原顺风车收集的有关您的信息和资料将保存在中原顺风车及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或中原顺风车收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>
        <p><br>
          五、Cookies的使用<br>
          5.1在您未拒绝接受cookies的情况下，中原顺风车会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的中原顺风车服务或功能。中原顺风车使用cookies可为您提供更加周到的个性化服务，包括推广服务。<br>
          5.2您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的中原顺风车服务或功能。<br>
          5.3通过中原顺风车所设cookies所取得的有关信息，将适用本政策。</p>
        <p><br>
          六、中原顺风车对信息的维护与保护<br>
          6.1中原顺风车希望用户放心的使用中原顺风车的产品和服务，为此中原顺风车设置了安全程序保护您的信息不会被未经授权的人访问、窃取。但也请您妥善保管您的账户信息。中原顺风车将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在绝对完善的安全措施。<br>
          6.2在使用中原顺风车服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，请您立即联络中原顺风车客服，以便中原顺风车采取相应措施。</p>
        <p><br>
          七、合作伙伴<br>
          7.1中原顺风车选择有信誉的第三方公司或网站作为中原顺风车的合作伙伴为用户提供信息和服务，尽管中原顺风车只选择有信誉的公司或网站作为中原顺风车的合作伙伴，但是每个合作伙伴都会有与中原顺风车不同的隐私条款，一旦您通过点击进入了合作伙伴的网站，中原顺风车的隐私条款将不再生效，中原顺风车建议您查看该合作伙伴网站的隐私条款，并了解该合作伙伴对于收集、使用、披露您的个人信息的规定。</p>
        <p><br>
          八、关于隐私条款的变更<br>
          8.1中原顺风车将根据法律、法规或政策的变更和修改，或中原顺风车网站内容的变化和技术的更新，或其他中原顺风车认为合理的原因，对本隐私政策进行修改并以网站公告、用户通知等合适的形式告知用户，若您不接受修订后的条款的，应立即停止使用本服务，若您继续使用本服务的，视为接受修订后的所有条款。</p>
        <p> </p>
    </header>
</body>
</html>